<!DOCTYPE html>
<html lang="cn">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>发布新文章</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    body {
      font-size:185%;
    }
  </style>

</head>

<body class="bg3">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
  <div class="container">
    <h1 class="navbar-item text-white">Blog</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/posts">主页
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= session[:user_id] %>">个人中心</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedbacks/new">意见反馈</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/sessions/<%= session[:user_id]%>">退出登陆</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <h1 class="text-center" style="font-size: 200%">发布新文章</h1>

  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label(:标题, class: 'control-label col-lg-offset-3', style: 'font-size: 120%') %><br>
      <%= f.text_field(:title, class: 'form-control col-lg-offset-3 col-lg-6', style: 'font-size: 120%') %>
    </div>
    <div class="form-group">
      <%= f.label(:分类, class: 'control-label col-lg-offset-3', style: 'font-size: 120%') %><br>
      <%= f.text_field(:category, class: 'form-control col-lg-offset-3 col-lg-6', style: 'font-size: 120%') %>
    </div>
    <div class="form-group">
      <%= f.label(:内容, class: 'control-label col-lg-offset-3', style: 'font-size: 120%') %><br>
      <%= f.text_area(:content, class: 'form-control col-lg-offset-3 col-lg-6', style: 'font-size: 120%', rows: 8) %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :user_id, value: session['user_id'] %>
      <%= f.hidden_field :audit, value: 0 %>
      <%= f.submit('提交', class: 'btn btn-success col-lg-offset-3', style: 'font-size: 100%') %>
      <a href="/posts" class="btn btn-primary" style="font-size: 100%">返回主页</a>
    </div>
  <% end %>

  <% if flash[:success] %>
    <div class="alert alert-success col-lg-offset-3 col-lg-6"><%= flash[:success] %></div>
    <% flash[:success] = nil %>
  <% end %>
  <% if flash[:failed] %>
    <div class="alert alert-danger col-lg-offset-3 col-lg-6"><%= flash[:failed] %></div>
    <% flash[:failed] = nil %>
  <% end %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger col-lg-offset-3 col-lg-6">
      <ol>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
</div>
<!-- /.container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>